@charset "utf-8";

/* CSS Document */

html {
  font: 80% Arial, Helvetica, sans-serif;
}

body,
td,
th,
p,
ul, {
	color: white;
}

li {
  color: black;
}

body {
	margin: 0;
	position:relative;
  min-width: 100%;
  max-width: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
	color: ff4500;
	text-decoration: none;
}

.nav a:hover {
	color: #0000c2;
	text-decoration: none;
}

a img{
	border: none 0 white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

label {
  margin: 0 0 0 2%;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body,
main {
  background-color: #f5f5f5;
  min-height: 100%;
  width: 100%;
}

header {
  width: 100%;
}

footer {
  min-width: 100%;
  height: 80px;
  background-color: #e8e8e8;
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}

/* ====================== Navigation ====================== */

.nav {
  min-width: 100%;
  height: 80px;
  background-color: #e8e8e8;
  text-align: center;
  padding: 10px 0 0 0;
}

.nav h1 {
  margin: auto;
}

.nav h1 a {
  color: #000;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: font-size .3s ease;
}

#breadcrumb {
    text-align: left;
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #f5f5f5;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    color: black;
    display: inline-block;
}

/* Add a slash symbol (/) between each list item, using CSS only, per WAI-ARIA */
.slash {
    padding: 5px 0 0 3px;
    height: 8px;
    border-left: 2px solid black;
    transform: skew(-20deg);
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    padding: 0 5px;
    color: #000091;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #0000c2;
    text-decoration: underline;
}

/* ====================== Map ====================== */

.map-container {
  width: 100%;
}

#map {
  height: 400px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

label,
#neighborhoods-select,
#cuisines-select {
  font-size: 1.2rem;
  transition: font-size .3s ease;
}

.filter-options {
  width: 100%;
  min-width: 100%;
  height: 60px;
  padding: 0 0 10;
  background-color: #ebf8ff;
  display: flex;
  align-items: center;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 32%;
}

/* ====================== Restaurant Listing ====================== */

.restaurants {
  width: 100%;
  text-align: center;
  color: #d42613;
  transition: font-size .3s ease;
}

#restaurants-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,
  minmax(350px,1fr));
  list-style: outside none none;
}

#restaurants-list li {
  background-color: white;
  border: 2px solid #ccc;
  margin: 15px;
  min-height: 380px;
  padding: 15px 30px 15px;
  text-align: left;
  width: 270px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 203px;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #d42613;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1.1rem;
}

#restaurants-list li a {
  background-color: #ffece6;
  border-bottom: 3px solid #eee;
  color: black;
  display: inline-block;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.restaurant-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#restaurant-name {
  color: #d42613;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
}

#restaurant-img {
	width: 90%;
  max-width: 100%;
}

#restaurant-address {
  font-size: 1.1rem;
  margin: 10px 0;
}

#restaurant-cuisine {
  background-color: white;
  color: black;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-hours caption {
  text-align: left;
  color: #d42613;
  font-size: 1.1rem;
}

#restaurant-hours th {
  text-align: left;
}

#restaurant-hours th, #restaurant-hours td {
  padding: 5px 0 0 12px;
}

.restaurant-container,
#reviews-container {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #fff;
  padding: 0 0 0 20px;
}

#reviews-container h2 {
  color: #d42613;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 10px 0 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: white;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px 20px 10px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

